<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
          <property name="hibernate.dialect"> org.hibernate.dialect.Oracle10gDialect</property>
          <property name="hibernate.driver_class">oracle.jdbc.driver.OracleDriver</property>
          <property name="hibernate.connection.url">jdbc:oracle:thin:@172.16.10.13:1521:orcl</property>
          <property name="hibernate.connection.username">alku_live</property>
          <property name="hibernate.connection.password">alku_live</property>
          
           <!--   Show all executed SQL to stdout -->
         <property name="show_sql">true</property>
         
         
     <!--   Drop and re-create the database schema on startup -->
         <property name="hbm2ddl.auto">update</property> 
          
          <mapping  class="com.app.Streams.model.UserDto"/>
    </session-factory>
</hibernate-configuration>